.MuiTableCell-stickyHeader {
    background-color: #191919 !important;
}

.MuiTableCell-head {
    color: white !important;
}

.MuiTable-root  {
    background-color: #222222 !important;
}


.MuiTableCell-root, .MuiTableCell-body, .MuiTableCell-alignLeft {
    color: 'wheat' !important;
    border-bottom: black !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
    color: 'white' !important;
}


.MuiTableSortLabel-root.MuiTableSortLabel-active {
    color: white !important;
}

.MuiTableSortLabel-root:hover {
    color: white !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
    color: white !important;
}
