.tester {
    text-align: left;
    font-weight: bold;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #90caf9
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.parent {
    margin: 0 1rem;
}

.MuiButton-label {
  text-transform: capitalize;
}
.MuiFormGroup-root {
   color: white 
}
.MuiButton-containedPrimary:hover {
  background-color: whitesmoke !important;
}
.MuiInputBase-root {
  color: #90caf9 !important;
}
.MuiFormLabel-root.Mui-focused {
  color: #90caf9 !important ;
  font-size: medium !important;
}

.MuiInputBase-input {
  color: white !important;
  font-family: Roboto, sans-serif;
}

.MuiButtonGroup-root {
  background-color: #90caf9 ;
  box-shadow:  12px 12px 48px #080808, 
             -12px -12px 48px #121212;
}

.MuiSvgIcon-fontSizeSmall {
  color: #90caf9;
}

.MuiInputLabel-root {
  color: #90caf9;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #90caf9 !important;
}

.MuiFormLabel-root {
  color: white !important;
  font-size: small !important;
}
.MuiRadio-root {
  color: white !important;
}