main { margin: auto; max-width: 960px; }

.table-container {
  margin: 10px;
  padding: 0;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

tr.expandable > td {
  background-color: linear-gradient(145deg, #242525, #1f2020) !important;
  box-shadow: 5px 5px 10px #1d1e1e, 
  -5px -5px 10px #272828;
  padding: 0;
  overflow-wrap: anywhere;
}

tr.expandable > td > .inner {
  margin: 15px;
  overflow-wrap: anywhere !important;
}

h4 {
  text-align: center;
}

.MuiAccordionSummary-root {
  background-color: #1a1a1a !important;
  border-radius: 10px !important;
}

.MuiAccordion-root .MuiSvgIcon-root {
  fill: white
}